@model AddEpsodeViewModel

@{
    ViewData["Title"] = "اضافه کردن هاردساب";
}

<div class="row">
    <div class="col-md-4 col-sm-12 border-success">
        <h3>اضافه کردن هاردساب با لینک</h3>
        <form asp-action="AddHardsub" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">لینک هاردساب:</label>
                <input class="form-control" asp-for="Link" />
            </div>
            <div class="form-group">
                <label class="control-label">نام (مثال : کیفیت 480) :</label>
                <input class="form-control" asp-for="Quality" />
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="@ViewBag.SeasonId" type="hidden" asp-for="SeasonId" />
            </div>
            <div class="form-group">
                <input type="submit" value="اضافه کردن" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Hardsubs" asp-route-id="@ViewBag.SeasonId">بازگشت</a>
</div>

