@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Add">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <form method="post" >
                    <input class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" type="submit" value="حذف" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
