@model ChapterImage

@{
    ViewData["Title"] = "اضافه کردن صفحه";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImage" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">عکس:</label>
                <input class="form-control" type="file" name="imageFile" />
            </div>
            <div class="form-group">
                <label asp-for="ImageNumber" class="control-label"></label>
                <input asp-for="ImageNumber" class="form-control" />
                <span asp-validation-for="ImageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="@ViewBag.ChapterId" type="hidden" name="chapterId" asp-for="ChapterId"  />
            </div>
            <div class="form-group">
                <input type="submit" value="اضافه کردن" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ChapterImages" asp-route-id="@ViewBag.ChapterId">بازگشت</a>
</div>

