@model IranOtaku.Data.Entities.BookSeason

@{
    ViewData["Title"] = "اضافه کردن فصل";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSeason">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeasonName" class="control-label"></label>
                <input asp-for="SeasonName" class="form-control" />
                <span asp-validation-for="SeasonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonNumber" class="control-label"></label>
                <input asp-for="SeasonNumber" class="form-control" />
                <span asp-validation-for="SeasonNumber" class="text-danger"></span>
            </div>
            <input asp-for="BookId" type="hidden" value="@ViewBag.BookId"/>
            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-route-id="@ViewBag.BookId" asp-action="Detail">بازگشت</a>
</div>

