<header class="Iheader">
    <div class="Ileft-social">
        <div class="telegram">
            <a href="https://t.me/AoSasori_Tel" target="_blank">
                <img src="img/telegram.png" alt="telegram">
            </a>
        </div>
        <div class="instagram">
            <a href="https://www.instagram.com/AoSasori" target="_blank">
                <img src="img/instagram.png" alt="instagram">
            </a>
        </div>
        <div class="twitter">
            <a href="https://twitter.com/AoSasori_" target="_blank">
                <img src="img/twitter.png" alt="twitter">
            </a>
        </div>
    </div>
</header>