@model IEnumerable<Category>

@{
    ViewData["Title"] = "ژانر های خانه";
}

<h2>ژانر های صفحه اصلی</h2>

<p>
    <a asp-action="SelectMembers">ویرایش اعضا</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
