

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>انیمه ها</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="index" asp-controller="Anime" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>کتاب ها</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="index" asp-controller="Books" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>
                <p>انیمه های تایید نشده</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="NotConfirmed" asp-controller="Anime" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>
                <p>کتاب های تایید نشده</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="NotConfirmed" asp-controller="Books" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>ژانر ها</p>
            </div>
            <div class="icon">
                <i class="fa fa-object-group"></i>
            </div>
            <a asp-action="Index" asp-controller="Categories" asp-area="Admin" class="small-box-footer"> مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>کاربران</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a asp-action="Index" asp-controller="Users" class="small-box-footer"> مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>مدیران و مترجمین</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a asp-action="Administrators" asp-controller="Users" class="small-box-footer"> مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>نظرات</p>
            </div>
            <div class="icon">
                <i class="fa fa-comment"></i>
            </div>
            <a asp-controller="Comments" asp-action="Index" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>ژانر های صفحه اصلی</p>
            </div>
            <div class="icon">
                <i class="fa fa-comment"></i>
            </div>
            <a asp-controller="HomePageCategories" asp-action="Index" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>اسلایدر های سفارشی</p>
            </div>
            <div class="icon">
                <i class="fa fa-comment"></i>
            </div>
            <a asp-controller="Sliders" asp-action="Index" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>آیتم های صفحه اصلی</p>
            </div>
            <div class="icon">
                <i class="fa fa-comment"></i>
            </div>
            <a asp-controller="HomeItems" asp-action="Index" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-success">
            <div class="inner">
                <h3> <i class="fa fa-heart"></i> </h3>

                <p>گزارشات قبلی</p>
            </div>
            <div class="icon">
                <i class="fa fa-comment"></i>
            </div>
            <a asp-controller="Reports" asp-action="Index" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>-->

</div>
