@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<section class="loginContainer">
    <!-- Forgot Password end -->
    <div class="loginTitle">
        <h6>فراموشی رمز عبور</h6>
    </div>
    <div class="loginForm">
        <form asp-action="ForgotPassword" method="post">
            <div class="InputBox">
                <input asp-for="Email" type="text" placeholder="ایمیل">
            </div>
            <div class="googlelogin">
                <input type="submit" value="ارسال اطلاعات">
            </div>
        </form>
    </div>
    <!-- Forgot Password End -->
</section>

<div class="loginContainer" asp-validation-summary="All" style="max-height : 70px">
    @if(ViewBag.Message != null)
    {
    <p>
        @ViewBag.Message
    </p>
    }
</div>
@section Style{
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            height : auto;
        }
    </style>
}