
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}
@if (ViewBag.Message != null)
{
    <div class="loginContainer" asp-validation-summary="All" style="max-height : 70px">
        <p>
            @ViewBag.Message
        </p>
    </div>
}
<section class="loginContainer">
    <!-- Forgot Password end -->
    <div class="loginTitle">
        <h6>فراموشی رمز عبور</h6>
    </div>
    <div class="loginForm">
        <form method="post">
            <div class="InputBox">
                <input asp-for="Email" type="hidden">
                <input asp-for="Token" type="hidden">
            </div>
            <div class="InputBox">
                <input asp-for="Password" type="password" placeholder="رمز عبور جدید" class="password">
                <span class="eyeBtn">
                    <i class="iiconpass fa fa-eye"></i>
                </span>
            </div>
            <div class="InputBox">
                <input asp-for="ConfirmPassword" type="password" placeholder="تکرار رمز عبور جدید" class="password">
                <span class="eyeBtn">
                    <i class="iiconpass fa fa-eye"></i>
                </span>
            </div>
            <div class="googlelogin">
                <input type="submit" value="ارسال اطلاعات">
            </div>
        </form>
    </div>
    <!-- Forgot Password End -->
</section>
    
@section Style{
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            height: auto;
        }
    </style>
}